.welcome_title {
  text-align: center;
}

.container {
  margin-top: 45px;
}

.welcome_container {
  margin-top: 25px;
}

.welcome_card {
  width: 320px;

  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;

  box-sizing: border-box;

  overflow: hidden;
}

.message_card {
  margin-top: 15px;
}

.welcome_container > button {
  margin-top: 25px;

  margin-left: auto;
  margin-right: auto;
}
